/* src/components/products/ProductCard.css */

.product-card {
    background-color: var(--color-surface);
    padding: 20px;
    height: 100%; 
    border: 1px solid #f0f0f0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); 
    border-radius: var(--border-radius);
    transition: all 0.3s; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover {
    transform: translateY(-2px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-primary); 
}

.card-title {
    color: var(--color-primary);
    font-size: 1.3em;
    margin-bottom: 8px;
}

.product-card-btn {
    margin-top: 15px;
    align-self: flex-start;
    padding: 8px 15px;
}